
<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Empresa</li>
    </ol>
</nav>

<div class="row mb-4">
<div class="col-md">
    <h1 class="h1 border-left pl-2 ">
        Empresa
    </h1>
</div>
<div class="col-md">
    <a routerLink="new" class="btn btn-secondary float-right">
        + Novo
    </a>
</div>
</div>
<div class="p-d-flex">
<table class="table table-hover" styleClass="p-datatable-responsive-demo">
    <thead>
        <tr class="bg-info text-light">
            <th>Company</th>
            <th>Telefone</th>
            <th>Contato</th>
            
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies"  >
            <td><strong>{{company.name}}</strong><br>
            <small>{{company.country}} , {{company.localization}}</small>
            </td>
            <td>{{company.telephone}}</td>
            <td>{{company.contacName}}</td>
           
            <td><a [routerLink]="[company.id,'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
                <button  class="btn btn-outline-danger btn-sm">Desativar</button>
            </td>
        </tr>
    </tbody>
</table>
</div>