<div class="container">
<form class="form-signin" >
    <div class="text-center mb-4">
      <img class="mb-4" src="assets/img/file-lock.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Authentication</h1>
      
    </div>
  
    <div class="form-label-group">
      <input type="text" id="userName" autocomplete="false" [(ngModel)]="userName" name="userName" class="form-control" placeholder="User" required="" autofocus="">
      <label for="inputUser">User</label>
    </div>
  
    <div class="form-label-group">
      <input type="password" id="inputPassword" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required="">
      <label for="inputPassword">Password</label>
    </div>
  
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="submitLogin()">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">© 2017-2020</p>
  </form>
</div>